:root {
  --page: url('https://images.wallpapersden.com/image/download/starry-landscape-4k-cool-blue-moon_bW5tbG6UmZqaraWkpJRmbmVlrWZpZWU.jpg');
  --background: rgba(255, 255, 255, 0.02);
  --background-filter: blur(10px) brightness(80%);
  --background-secondary: #4545459e;
  --background-dark: #121212;

  --title: #fff;
  --block: #18181a;
  --block-buttons: #0a1524;
  --input: #0c1425;
  --column: #0d121b;

  --text-primary: #fff;
  --text-secondary: #b0b0b0;
  --text-placeholder: #aaa;

  --transparent: rgb(0, 0, 0, 0);
}
